<button class="btn btn-primary" data-toggle="modal" data-target=".new-checkin">Checkin</button>

<div class="modal fade new-checkin" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
<div class="panel panel-custom">
<div class="panel-caption">
Check in at <strong> <%= @club.name %> </strong>
</div>
<%= image_tag current_user.avatar.url(:tiny), class: "img-responsive img-thumbnail" %>
I just checked in at <%= @club.name %>
<div class="panel-custom-footer">
 <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancel</button>
</div>
</div>
  </div>
</div>