 <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= image_tag club.avatar.url(:tiny) %> </td>
        <td class="club-list-name"><%= link_to club.name, club_path(club) %></td>
        <td class="club-info"><%= club.address %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table> 