<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#recent" role="tab" data-toggle="tab"> <%= fa_icon 'clock-o' %> Recent Activity</a></li>

  	
  <li><a href="#reviews" role="tab" data-toggle="tab"> <%= fa_icon 'star' %> Club Reviews</a></li>
  <li><a href="#calendar" role="tab" data-toggle="tab"><%= fa_icon 'calendar-o' %> Calendar</a></li>
 </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="recent">
  	<div class="panel panel-custom">
  		<div class="panel-caption"><p></p></div>
Test
</div>
  </div>
  <div class="tab-pane" id="reviews">
  	<div class="panel panel-custom">
  		<div class="panel-caption"><p></p></div>
Test
</div>
  </div>
  <div class="tab-pane" id="calendar">
  	<div class="panel panel-custom">
  		<div class="panel-caption"><p></p></div>
Test
</div>
  </div>
</div>