
		<p class="club-options directions"><%= fa_icon 'spinner' %> View Live Streem </p>
		<p><div id="follows_club">
			<%= render :partial => "follows_clubs/follow_club", :locals => {:club => @club} %>
		</div></p>
		<p class="club-options"><%= fa_icon 'taxi' %> Get Directions</p>

		<p class="club-options no-border"><%= fa_icon 'bookmark' %> Reserve Table </p>