<div class="club-rating">
  <div id="star"></div>
  <%= pluralize( @club.ratings.count, 'Review' ) %>
  <% if @club.ratings.count == 0 %>
  <script>
  $('#star').raty({
    readOnly: true,
    space: false,
    score: 0,
    path: '/assets'
  });
  </script>
  <% else %>
  <script>
  $('#star').raty({
    readOnly: true,
    space: false,
    score: <%= @club.average_rating %>,
    path: '/assets'
  });
  </script>
  <% end %>
</div>