
 <div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2>Clubs</h2>
  </div>

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_club_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
      <div class="col-md-6 col-md-offset-2" id="club-form" style="display:none;"></div>
  </div>
</div>

<div class="row">

</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="clubs"><%= render 'club' %></div>
</div>










