<div class="col-sm-3">
  <div class="panel">
    <section>
      <div class="section-title">
        <%= fa_icon 'search' %> Search Clubs
      </div>
    </section>
  </div>
</div>
<div class="col-sm-6">
 <div class="panel">
  <section>
    <div class="section-title">
      All Clubs
    </div>
  </section>
  <div class="club-dropdown">
   <div class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    Sort By <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
   <p>Distance</p>
   <p>Popularity</p>
  </ul>
  </div>
</div>
 <section>
  <table>
  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= image_tag club.avatar.url(:tiny) %> </td>
        <td class="club-list-name"><%= club.name %></td>
        <td class="club-info"><%= club.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>
 </div>
</div>



