<div class="col-sm-3">
  <div class="panel">
    <section>
      <div class="section-title">
        <%= fa_icon 'search' %> Search People
      </div>
    </section>
  </div>
</div>
<div class="col-sm-6">
 <div class="panel">
  <section>
    <div class="section-title">
      All People
    </div>
  </section>
  <div class="club-dropdown">
   <div class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    Sort By <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <p>Popularity</p>
  </ul>
  </div>
</div>
 <section>
  <table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.avatar.url(:tiny) %> </td>
        <td><%= user.name %></td>
        <td><%= user.location %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</section>
 </div>
</div>



