	   <div class="bs-sidebar affix" id="sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </div> <!--well bs-sidebar affix-->

<script>
$('#sidebar').affix({
  offset: {
    top: $('.navbar navbar-default').height()
  }
}); 
</script>