<% if user_signed_in? %>
<h1>Welcome, <%= current_user.email %></h1>
<%= current_user.points %>
<% @following.each do |following| %>
<%= following.name %>
<% end %>
<% else %>
Welcome! Please <%= link_to 'Sign in', new_user_session_path %> to continue
<% end %>

