@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "spacing";
body , html{
	background:#0c0c0c;
}
.navbar-inverse {
  background-color: #151515;
  border-color: #1f1f1f;
}
#logo {
  color: #a2a2a2;
  float: left;
  font: 1.75em 'Arial';
  letter-spacing: -2px;
  margin-right: 10px;
  padding-top: 9px;
  &:hover {
    color: #c4c4c4;
    text-decoration: none;
  }
}
.panel {
  background: #151515;
  padding:5px;
  border:solid 1px #1f1f1f;
  border-radius:3px;

  section {
    padding: 10px;
    border-top: 1px solid #1f1f1f;
    margin: -5px -5px 5px;
    &:first-child {
      border: 0;
    }

    .section-title {
      background: none repeat scroll 0 0 #0f0f0f;
      color: #888;
      margin: -10px -10px 5px;
      padding: 5px;
      border-bottom: 1px solid #1f1f1f;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  .panel-footer{
  background:#191919;
  border:none;
  }
  .footer-text {
    color: #777;
    margin-bottom: 7px;
    margin-left: 5px;
    padding-bottom: 5px;
}
}
.panel-title{
  color:#888;
  font: 1.75em 'Arial';
  margin-top:5px;
}
.panel-subtitle{
  color:#6e6e6e;
  font: 1em 'Arial';
  margin:5px 0 15px 0;
}
.checkbox label {
  color:#6e6e6e;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 20px;
}
.club-dropdown{
     margin: -20px 0 10px;
}
.club-avatars {
  margin: 15px 0 -25px;
  overflow: auto;
}
.club-list {
    border: 1px solid #222;
    border-radius: 3px;
    margin-bottom: 0;
}
.club-name-header {
    background: none repeat scroll 0 0 #0e0e0e;
    margin: -10px -10px 10px;
    padding: 5px 5px 1px;
}
.club-name {
    color: #777;
    font: 1.3em 'Arial';
    margin-bottom: 0;
    margin-left: 5px;
}
.club-list-name{
  font:1em 'Arial';
  color:#777;
}
.club-avatar{
  margin-bottom:10px;
}

.club-info{
  font:1em 'Arial';
  color:#666;
  margin:5px;
}
.club-address{
  font:1em 'Arial';
  color:#666;
  margin:5px 5px 10px 5px;
}
.club-info-wait {
    color: #555;
    font: 0.85em 'Arial';
    margin: 5px 5px 10px;
}
.club-options {
    border-bottom: 1px solid #1f1f1f;
    color: #777;
    margin-bottom: 7px;
    margin-left: 5px;
    padding-bottom: 5px;
}
td, th {
    padding: 5px;
    border-bottom:1px solid #1f1f1f;
}
.text-center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.no-border{
  border:0;
}
.directions{
  margin-top:-15px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #090909;
    color: #999;
}
#follows_club{
      border-bottom: 1px solid #1f1f1f;
    color: #777;
    margin-bottom: 7px;
    margin-left: 5px;
    padding-bottom: 5px;
}