.gray{
  background:#2e3338;
  } 
  .lt-gray{
    background: #353a41;
  }
  .drk-gray{
    background: #21262d;
  }

.well {
    background-color: #1c1e22;
    border: 1px solid #0c0d0e;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 5px;
}


    .wrapper
    {
        min-height:100%;
        margin-top:-20px;
        width:100%;
        position:relative;
        background-color:Black;
        display:inline-block;
    }
.sidebar {
    background-color: #26282c;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
}
    .content
    {
        min-height:500px;
        width:80%;
        position:relative;
        background-color:#272b30;
        float:right;
    }
    .table-responsive
{
    overflow-x: auto;
}
.page-well {
    background-color: #14181b;
    border: 1px solid #191a1b;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 5px;
}
.list-group {
 
    padding-left: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-header{
  font:1.5em 'Arial';
  margin:0;
}
.sidebar-margin{
  margin-left:-15px;
}
.info{
  margin:5px;
}
.club-panel-header{
    background: #353a41;
}
.panel-caption {
    background-image: linear-gradient(#484e55, #3a3f44 25%, #313539);
    border-bottom: 1px solid #414141;
    color: #c8c8c8;
    margin: 0;
    padding: 1% 0 1% 2%;
}
.panel-custom{
    background: #282d32;
    border-radius: 0;
}
.panel-custom-footer{
    background: #1c2126;
    color:#c4c4c4;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 10px;

}
    .footer-text{
font:.5em 'Arial';

    }
.btn-va {
    margin: 1%;
}
.mt5{
    margin-top:5px;

}
.btn-checkin{
    position: relative;
    left:60%;
    margin: 5px;
}
.calendar-date{
  font: 1.5em "Arial";
  margin-left: 1%;

}
.calendar-divider {
    border-left: 1px solid #1c2126;
    margin: 1% 2% 1% 1%;
}
.calendar-month{
  font: 1.1em "Arial";
  color: #adadad;

}
.event-img {
    border: 2px solid #1c2126;
    margin: 5%;
}
.event-name {
    font: 1.5em "Arial";
    margin-bottom: 0;
    margin-top: 2%;
}
.event-time{
  color:#adadad;
}
.club-avatar{
  margin:3%;
}

.club-name {
    color: #b1b1b1;
    font: 1.5em "Arial";
    margin: 5px 5px 5px -15px;
}
.club-info{
  margin: 0 5px 5px -15px;
}
.gmap-sidebar {
    border: 2px solid #2b2b2b;
    margin: -7% 0 1%;
}
.follows_club{
    margin-left:5px;
}
.calendar{
    margin-bottom:2%;
}
.m5{
    margin: 5px
}
.img-thumbnail {

    border-radius: 2px;
}
.photo-well {
    background: none repeat scroll 0 0 #2e3338;
    margin: 1%;
    padding: 1%;
}
.img-slideshow{
    margin:-1%;
}

.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}

.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d \9;
}
